body {
    background-color: lightblue;
    margin: 0 auto;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    height: 100%;
}

.header {
    background-color: deepskyblue;
    height: 120px;
    width: 100%;
}

.header-heading {
    font-size: 48px;
    margin: 30px 50px 30px 10px;
    padding-top: 4px;
    width: max-content;
    display: inline-block;
    font-family: "Monotype Corsiva", cursive;
}

.imageContainer {
    position: absolute;
    top: 0px;
    right: 0px;
}

@media screen and (max-width: 600px) {
    .imageContainer {
      display: none;
    }
  }

.logo {
    width: 100px;
    border-radius: 20%;
    margin: 10px 10px 10px 10px;
}

main {
    max-width: 850px;
    margin: 0px auto;
    background-color: white;
}

.topSection {
    padding: 20px 20px 40px 20px;
    height: 100%;
}

h2, p {
    padding-left: 10px;
    margin-bottom: 8px;
}

table{
    margin: 10px 10px 10px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    background-color: white;
    
}

th {
    text-align: left;
    padding: 8px 25px;
    color: white;
    background: darkblue;
}

td {
    text-align: left;
    padding: 8px 25px;
    max-width: 600px;
    min-width: 70px;
}

.odd {
    color: black;
    background: rgb(216, 213, 213);
}

/* blog specific formatting*/

.blog {
    padding: 20px;
}

h1 {
    padding-left: 10px;
    margin: 8px 0px;
    font-size: 32px;
}

.question {
    font-weight: bold;
}

nav {
    padding-left: 10px;
    margin-bottom: 0px;
}

.topSectionBlog {
    padding: 20px 20px 0px 20px;
}

footer {
    background-color: deepskyblue;
    height: 40px;
    width: 100%;
    text-align: center;
}

.footertext {
    padding: 8px 0px;
    margin: 0px;
}

.code {
    font-family: monospace;
    background-color: beige;
}

img {
    margin-left: 10px;
}